*{
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
 }
.sideBar {
  color: #a6a6a6;
  background-color: #f6f5f3;
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  min-width: 10vw;
  border: 0px;
  padding: 50px;
  gap: 20px;
}
.button {
  color: #2b2b2b;
  background-color: #ffffff;
  width: 160px;
  /* height: 40px; */
  border: 0px;
  border-radius: 8px;
  margin-top: 8px;
  padding: 20px;
}