@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Charmonman:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #403e3e;  
 }
 :root {
  min-width: 100vh;
  display: flex;
  animation: fadeIn 1.5s;
}
#root{
  min-width: 100vw;
  display: flex;
  animation: fadeIn 1.5s;
}
body{
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  /* background-color: #efeeec; */
  display: flex;
  flex-direction: row;
}


@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}


